extends ../layouts/default
block head
    link(href='/vendor/morrisjs/morris.css', rel='stylesheet')
    script(src='/vendor/morrisjs/morris.min.js')

    //추후 삭제(도표 표시용)
    script(src='/data/morris-data.js')
    script(src='/data/flot-data.js')

block content
    .row
    .col-lg-3(style='margin-top:20px;')
        .panel.panel-default
            .panel-heading
                .row
                    .col-xs-3
                        i.fa.fa-comments.fa-5x
                    .col-xs-9.text-right
                        .huge 11
                        div 접수 대기
            a(href='/question/new')
                .panel-footer
                    span.pull-left 리스트
                    span.pull-right
                        i.fa.fa-arrow-circle-right
                    .clearfix
    .col-lg-3(style='margin-top:20px;')
        .panel.panel-default
            .panel-heading
                .row
                    .col-xs-3
                        i.fa.fa-tasks.fa-5x
                    .col-xs-9.text-right
                        .huge 12
                        div 처리 중
            a(href='/usermanage/usermanageNew')
                .panel-footer
                    span.pull-left 리스트
                    span.pull-right
                        i.fa.fa-arrow-circle-right
                    .clearfix
    .col-lg-3(style='margin-top:20px;')
        .panel.panel-default
            .panel-heading
                .row
                    .col-xs-3
                        i.fa.fa-folder-open.fa-5x
                    .col-xs-9.text-right
                        .huge 124
                        div 처리 완료
            a(href='#')
                .panel-footer
                    span.pull-left 리스트
                    span.pull-right
                        i.fa.fa-arrow-circle-right
                    .clearfix
    .col-lg-3(style='margin-top:20px;')
        .panel.panel-default
            .panel-heading
                .row
                    .col-xs-3
                        i.fa.fa-file-code-o.fa-5x
                    .col-xs-9.text-right
                        .huge 13
                        div 보류
            a(href='#')
                .panel-footer
                    span.pull-left 리스트
                    span.pull-right
                        i.fa.fa-arrow-circle-right
                    .clearfix
    .col-lg-12
        .panel.panel-default
            .panel-heading
                i.fa.fa-clock-o.fa-fw
                |  유지보수
            .service(style='padding: 20px 0 20px 20px')
                .default-header
                    span 유지보수 계약 기간 입니다.
                .default-body
                    h4
                        i.fa.fa-briefcase
                        |  계약기간 : 2017-01-01 ~ 2018-01-01 (365일 남음)
        .row
            .col-lg-7
                .panel.panel-default
                    .panel-heading
                        i.fa.fa-bar-chart-o.fa-fw
                        |  당월 현황 조회
                    .panel-body
                        .row
                            .col-lg-12
                                #morris-bar-chart
            .col-lg-5
                .panel.panel-default
                    .panel-heading
                        i.fa.fa-bar-chart-o.fa-fw
                        |  증감표
                    .panel-body
                        #morris-area-chart
    .col-lg-12
        .panel.panel-default
            .panel-heading
                i.fa.fa-clock-o.fa-fw
                |  접수현황
            .service
                .default-header(style='margin-top:20px; padding:0 0 0 20px')
                    span  최근 접수 순서대로 나열합니다.
                .row(style='margin-top:20px;padding:0 20px 0 20px')
                    .col-lg-12
                        .panel.panel-default
                            .panel-heading
                                | test1
                            .panel-body
                                p test1