extends ../layouts/default
block head
    link(rel='stylesheet', href='/vendor/bootstrap-3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='/vendor/bootstrap-3.3.7/css/bootstrap-theme.min.css')
    script(src='/vendor/jquery/jquery.js')
    script(src='/vendor/bootstrap-3.3.7/js/bootstrap.min.js')
    script(type='text/javascript').
        $('#test').click(function(){
            alert(111);
        });

        

block content
    .masthead.clearfix
        .inner
            h3.masthead-brand 회사정보관리
            br
            .row
                .col-md-12
                    h4.m-t-0.header-title
                        b 등록
                    p.text-muted.m-b-30.font-13
                        | Set heights using classes like 
                        code .input-lg
                        | , and set widths using grid column classes like 
                        code .col-lg-*
                        | .
                    form.form-horizontal(role='form')
                        .form-group
                        label.col-sm-3.control-label(for='example-input-small')
                        .col-sm-6
                            input#example-input-small.form-control.input-sm(type='text', name='example-input-small', placeholder='회사코드')
                        .form-group
                        label.col-sm-3.control-label(for='example-input-small')
                        .col-sm-6
                            input#example-input-small.form-control.input-sm(type='text', name='example-input-small', placeholder='사업자번호')
                        .form-group
                        label.col-sm-3.control-label(for='example-input-small') 
                        .col-sm-6
                            input#example-input-small.form-control.input-sm(type='text', name='example-input-small', placeholder='회사명')
                        .form-group
                        label.col-sm-3.control-label(for='example-input-small')
                        .col-sm-6
                            input#example-input-small.form-control.input-sm(type='text', name='example-input-small', placeholder='대표이사명')
                        .form-group
                        label.col-sm-3.control-label(for='example-input-small')
                        .col-sm-6
                            input#example-input-small.form-control.input-sm(type='text', name='example-input-small', placeholder='법인등록번호')
                        .form-group
                        label.col-sm-3.control-label(for='example-input-small')
                        .col-sm-6
                            input#example-input-small.form-control.input-sm(type='text', name='example-input-small', placeholder='우편번호')
                        .form-group
                        label.col-sm-3.control-label(for='example-input-small')
                        .col-sm-6
                            input#example-input-small.form-control.input-sm(type='text', name='example-input-small', placeholder='회사주소')
                        .form-group
                        label.col-sm-3.control-label(for='example-input-small')
                        .col-sm-6
                            input#example-input-small.form-control.input-sm(type='text', name='example-input-small', placeholder='업태')
                        .form-group
                        label.col-sm-3.control-label(for='example-input-small')
                        .col-sm-6
                            input#example-input-small.form-control.input-sm(type='text', name='example-input-small', placeholder='업종')
                        .form-group
                        label.col-sm-3.control-label(for='example-input-small')
                        .col-sm-6
                            input#example-input-small.form-control.input-sm(type='text', name='example-input-small', placeholder='전화번호')
                        .form-group
                        label.col-sm-3.control-label(for='example-input-small')
                        .col-sm-6
                            input#example-input-small.form-control.input-sm(type='text', name='example-input-small', placeholder='팩스번호')
                        .form-group
                        label.col-sm-3.control-label(for='example-input-normal') 
                        .col-sm-6
                            input#example-input-normal.form-control.input-sm(type='text', name='example-input-normal', placeholder='Normal')
                        .form-group
                        label.col-sm-3.control-label(for='example-input-large') Large
                        .col-sm-6
                            input#example-input-large.form-control.input-sm(type='text', name='example-input-large', placeholder='.input-lg')
                        .form-group
                        label.col-sm-3.control-label Grid Sizes
                        .col-sm-4
                            input.form-control(type='text', placeholder='.col-sm-4')
                        //-.form-group
                        //-swal("Good job!", "You clicked the button!", "success")
                        //-input.form-control(type='button') 
                        //.form-group
                        //- $("#save").click(function(){}
                        //button.btn.btn-info.btn-lg(type='button', data-toggle='modal', data-target='#myModal' onblur='alerts()') 저장
            br
            

            .row
              
                button#test.btn.btn-lg.btn-primary.sweet-10 Primary