extends ../layouts/default
block content
    .masthead.clearfix
        .inner
            h3.masthead-brand 회사정보관리
            br
            .row
                .col-sm-12
                    .m-b-30
                        a.button#addToTable.btn.btn-primary.waves-effect.waves-light(href='/manage/companyNew')
                            | Add 
                            i.fa.fa-plus

                    .card-box
                    h4.m-t-0.header-title
                        b Table
                    p.text-muted.font-13
                        | 
                    table.tablesaw.table.m-b-0(data-tablesaw-mode='swipe')
                        thead
                        tr
                            th.title(scope='col', data-tablesaw-sortable-col='', data-tablesaw-priority='persist') 회사명
                            th(scope='col', data-tablesaw-sortable-col='', data-tablesaw-sortable-default-col='', data-tablesaw-priority='3') Rank
                            th(scope='col', data-tablesaw-sortable-col='', data-tablesaw-priority='2') Year
                            th(scope='col', data-tablesaw-sortable-col='', data-tablesaw-priority='1') Rating
                            th(scope='col', data-tablesaw-sortable-col='', data-tablesaw-priority='4') Gross
                        tbody
                        tr
                            td Avatar
                            td 1
                            td 2009
                            td 83%
                            td $2.7B
                        tr
                            td Titanic
                            td 2
                            td 1997
                            td 88%
                            td $2.1B
                        tr
                            td The Avengers
                            td 3
                            td 2012
                            td 92%
                            td $1.5B
                        tr
                            td Harry Potter and the Deathly Hallows—Part 2
                            td 4
                            td 2011
                            td 96%
                            td $1.3B
                        tr
                            td Frozen
                            td 5
                            td 2013
                            td 89%
                            td $1.2B
                        tr
                            td Iron Man 3
                            td 6
                            td 2013
                            td 78%
                            td $1.2B
                        tr
                            td Transformers: Dark of the Moon
                            td 7
                            td 2011
                            td 36%
                            td $1.1B
                        tr
                            td The Lord of the Rings: The Return of the King
                            td 8
                            td 2003
                            td 95%
                            td $1.1B
                        tr
                            td Skyfall
                            td 9
                            td 2012
                            td 92%
                            td $1.1B
                        tr
                            td Transformers: Age of Extinction
                            td 10
                            td 2014
                            td 18%
                            td $1.0B
