extends ../layouts/default
block head
    title  1-2 처리진행현황 목록
    title 4-3 회사정보 입력
    // Plugins css
    link(href='/plugins/bootstrap-tagsinput/dist/bootstrap-tagsinput.css', rel='stylesheet')
    link(href='/plugins/multiselect/css/multi-select.css', rel='stylesheet', type='text/css')
    link(href='/plugins/select2/select2.css', rel='stylesheet', type='text/css')
    link(href='/plugins/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.css', rel='stylesheet')
    link(href='/plugins/timepicker/bootstrap-timepicker.min.css', rel='stylesheet')
    link(href='/plugins/mjolnic-bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css', rel='stylesheet')
    link(href='/plugins/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css', rel='stylesheet')
    link(href='/plugins/bootstrap-daterangepicker/daterangepicker.css', rel='stylesheet')
    // summernot
    link(href='/plugins/summernote/dist/summernote.css', rel='stylesheet')
    link(href='/plugins/switchery/switchery.min.css', rel='stylesheet')
    link(href='/assets/css/bootstrap.min.css', rel='stylesheet', type='text/css')
    link(href='/assets/css/core.css', rel='stylesheet', type='text/css')
    link(href='/assets/css/icons.css', rel='stylesheet', type='text/css')
    link(href='/assets/css/components.css', rel='stylesheet', type='text/css')
    link(href='/assets/css/pages.css', rel='stylesheet', type='text/css')
    link(href='/assets/css/menu_light.css', rel='stylesheet', type='text/css')
    link(href='/assets/css/responsive.css', rel='stylesheet', type='text/css')
    script(src='/assets/js/modernizr.min.js')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
    script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
    script(src='https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js')

    script(src='/assets/js/detect.js')
    script(src='/assets/js/fastclick.js')
    script(src='/assets/js/jquery.slimscroll.js')
    script(src='/assets/js/jquery.blockUI.js')
    script(src='/assets/js/waves.js')
    script(src='/assets/js/wow.min.js')
    script(src='/assets/js/jquery.nicescroll.js')
    script(src='/assets/js/jquery.scrollTo.min.js')
    script(src='/plugins/switchery/switchery.min.js')
    script(src='/plugins/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js')
    script(type='text/javascript', src='/plugins/multiselect/js/jquery.multi-select.js')
    script(type='text/javascript', src='/plugins/jquery-quicksearch/jquery.quicksearch.js')
    script(src='/plugins/select2/select2.min.js', type='text/javascript')
    script(src='/plugins/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js', type='text/javascript')
    script(src='/plugins/bootstrap-inputmask/bootstrap-inputmask.min.js', type='text/javascript')

    script(src='/assets/js/jquery.core.js')
    script(src='/assets/js/jquery.app.js')
    script(src='/vendor/jquery/jquery.min.js')

block content
    // ==============================================================
    // Start right Content here
    // ==============================================================
    .content-page
        // Start content
        .content
            .container
                // Page-Title
                .row
                    .col-sm-12
                        .page-title-box
                            ol.breadcrumb.pull-right
                                li
                                    a(href='#') Home
                                li
                                    a(href='#') 문의 및 담당자
                                li.active 처리진행현황
                            h4.page-title 처리진행현황 목록
                // start Search Area
                .row
                    .col-lg-12
                        .card-box
                            form.form-horizontal.group-border-dashed(action='#')
                                .form-group
                                    label.col-sm-2.control-label 진행구분
                                    .col-sm-2
                                        select.form-control(name='incident[process_flag]')
                                            option(value ='') 선택하세요
                                            - if (incident.length > 0) {
                                                - for( var i = 0 ; length = incident.length > i ; i++ ){ //속도가 느리다고 알고 있음.
                                                    option(value ='#{incident[i].process_flag}') #{incident[i].process_flag}
                                                - }
                                            - }

                                    label.col-sm-2.control-label 검색기간
                                    .col-sm-2
                                        select.form-control
                                            option 최근1주일
                                            option 최근1개월
                                            option 최근3개월
                                            option 최근6개월
                                            option 최근1년
                                            option 전체검색
                                .form-group.m-b-0
                                    label.col-sm-2.control-label 제목
                                    .col-sm-8
                                        input.form-control(type='text')
                                    .col-sm-2
                                        button.btn.btn-primary(type='button')
                                            | 조회 
                                            i.fa.fa-search.m-l-5
                // end Search Area

                // start List Area
                .row
                    .col-lg-12
                        .card-box
                            // start 처리진행현황
                            .forum-container
                                .forum-item
                                    .row
                                        .col-md-1.forum-info
                                            span.btn-outline.outline-pink
                                                | 접수
                                        .col-md-11
                                            .forum-sub-title
                                                span.text-primary
                                                    b 이수시스템
                                                span.p-w-xs  2017-09-14 09:23
                                            a.forum-item-title(href='/incident/viewDetail')
                                                i.md.md-desktop-windows
                                                | 중국에서 발송한 메일 확인 요청
                                        .col-md-12
                                            .forum-content.truncate1.fh-60
                                                a(href='gw_sub1_2_view01.html')
                                                    | 이수그룹 계열사 중 토다이수 가 있습니다.토다이수 중국 동관이수에 근무하고 있는 사용자 중 다음과 같은 메일을 수신받았다고 합니다.
                                                    | 메일 내용은,메일 용량을 15G로 업그레이드 하지 않으면, 24시간으로 사용 금지되며, 모든 연락처와 메일이 삭제된다는 내용(?) 이라고 합니다.
                                                    | 어떤 조치를 해야할지 검토 부탁드립니다.
                                                    | 이수그룹 계열사 중 토다이수 가 있습니다.토다이수 중국 동관이수에 근무하고 있는 사용자 중 다음과 같은 메일을 수신받았다고 합니다.
                                                    | 메일 내용은,메일 용량을 15G로 업그레이드 하지 않으면, 24시간으로 사용 금지되며, 모든 연락처와 메일이 삭제된다는 내용(?) 이라고 합니다.
                                                    | 어떤 조치를 해야할지 검토 부탁드립니다.
                                            a.text-muted.text-more(href='/incident/viewDetail') 더보기
                                            .forum-level
                                                p.text-muted.font-13
                                                    b 서비스 만족도:
                                                    span.m-l-15
                                                        i.md.md-star.text-warning
                                                        i.md.md-star.text-warning
                                                        i.md.md-star.text-warning
                                                        i.md.md-star.text-warning
                                                        i.md.md-star.text-muted
                                                p
                .row
                    .col-lg-12
                        .card-box
                            // start 처리진행현황
                            .forum-container
                                .forum-item
                                    .row
                                        .col-md-1.forum-info
                                            span.btn-outline.outline-pink
                                                | 접수
                                        .col-md-11
                                            .forum-sub-title
                                                span.text-primary
                                                    b 이수시스템
                                                span.p-w-xs  2017-09-14 09:23
                                            a.forum-item-title(href='/incident/viewDetail')
                                                i.md.md-desktop-windows
                                                | 중국에서 발송한 메일 확인 요청
                                        .col-md-12
                                            .forum-content.truncate1.fh-60
                                                a(href='gw_sub1_2_view01.html')
                                                    | 이수그룹 계열사 중 토다이수 가 있습니다.토다이수 중국 동관이수에 근무하고 있는 사용자 중 다음과 같은 메일을 수신받았다고 합니다.
                                                    | 메일 내용은,메일 용량을 15G로 업그레이드 하지 않으면, 24시간으로 사용 금지되며, 모든 연락처와 메일이 삭제된다는 내용(?) 이라고 합니다.
                                                    | 어떤 조치를 해야할지 검토 부탁드립니다.
                                                    | 이수그룹 계열사 중 토다이수 가 있습니다.토다이수 중국 동관이수에 근무하고 있는 사용자 중 다음과 같은 메일을 수신받았다고 합니다.
                                                    | 메일 내용은,메일 용량을 15G로 업그레이드 하지 않으면, 24시간으로 사용 금지되며, 모든 연락처와 메일이 삭제된다는 내용(?) 이라고 합니다.
                                                    | 어떤 조치를 해야할지 검토 부탁드립니다.
                                            a.text-muted.text-more(href='/incident/viewDetail') 더보기
                                            .forum-level
                                                p.text-muted.font-13
                                                    b 서비스 만족도:
                                                    span.m-l-15
                                                        i.md.md-star.text-warning
                                                        i.md.md-star.text-warning
                                                        i.md.md-star.text-warning
                                                        i.md.md-star.text-warning
                                                        i.md.md-star.text-muted
                                                p


        // end content

        footer.footer.text-right
            | 2017 © ISU Group.




        // dotdotdot
        script(src='/plugins/dotdotdot/jquery.dotdotdot.min.js')

        script.
            $(document).ready(function (){
                $(".truncate").dotdotdot({
                    watch: 'window'
                });
                $(".truncate1").dotdotdot({
                    watch: 'window',
                    ellipsis: ' ... '
                });
                $(".truncate2").dotdotdot({
                    watch: 'window',
                    wrap: 'letter'
                });
            });


