extends ../layouts/default
block head
        link(href='/vendor/fileupload/css/fileinput.css', media='all', rel='stylesheet', type='text/css')
        link(href='/vendor/fileupload/themes/explorer/theme.css', media='all', rel='stylesheet', type='text/css')
        link(rel='stylesheet', href='/isu/css/isu.css')
        script(src='/vendor/fileupload/js/plugins/sortable.js', type='text/javascript')
        script(src='/vendor/fileupload/js/fileinput.js', type='text/javascript')
        script(src='/vendor/fileupload/js/locales/kr.js', type='text/javascript')
        script(src='/vendor/fileupload/themes/explorer/theme.js', type='text/javascript')
        script(src='/isu/js/incident/index.js', type='text/javascript')

block content
    .content
            .container
                .row(style='margin-top:20px')
                    .col-xs-12.col-sm-10.col-md-8
                        h3.masthead-brand 서비스요청
                        hr.colorgraph
                form.form.col-md-12.center-block(name='form' action='/incident/new' method='post')        
                    .row(style='margin-top:-15px')
                        .col-xs-1.col-sm-1.col-md-1.col-sm-offset-7.col-md-offset-7
                            .form-group
                                    button.btn.btn-success.btn-md.btn-block(type='submit') 저장         
                    .row(style='margin-top:20px') 
                        .col-xs-12.col-sm-10.col-md-8       
                                a.form-group.btn.btn-info.btn-select.btn-select-light
                                    input.btn-select-input(type='hidden', id='', name='incident[name]', value='')
                                    span.btn-select-value 서비스
                                    span.btn-select-arrow.glyphicon.glyphicon-chevron-down
                                    ul
                                        li 스마트오피스
                                        li eHR
                                        li Sap ERP
                                        li 네트워크
                                a.form-group.btn.btn-info.btn-select.btn-select-light
                                    input.btn-select-input(type='hidden', id='', name='incident[name]', value='')
                                    span.btn-select-value 긴급구분
                                    span.btn-select-arrow.glyphicon.glyphicon-chevron-down
                                    ul
                                        li 긴급
                                        li 보통      
                                .form-group
                                    input.form-control.input-md(type='email' placeholder='요청완료일' name='incident[email]' value='')
                                .form-group
                                    input.form-control.input-md(type='text' placeholder='제목' name='incident[user_id]' value='')
                                .form-group
                                    textarea.form-control.textarea(placeholder='내용' name='incident[content]' style='height:150px' value='')
                                .form-group
                                    input.form-control.input-md(type='hidden'  name='etcInfo[name]' value='Mr.Lee')
                                .form-group
                                    input.form-control.input-md(type='hidden'  name='etcInfo[age]' value='22')
                    .row 
                        .col-xs-12.col-sm-10.col-md-8
                            form(enctype='multipart/form-data')
                                .form-group
                                input#attach-file.file(name='file-fr[]', data-upload-url='#', type='file', multiple='')
                                hr   
     