extends ../layouts/default
block head
    script(src="http://dmaps.daum.net/map_js_init/postcode.v2.js")
    script(type='text/javascript').
        $(document).ready(function() {
            $('#postcode').click(function () {
                new daum.Postcode({
                    oncomplete: function(data) {
                        // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                        // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                        // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                        var fullAddr = ''; // 최종 주소 변수
                        var extraAddr = ''; // 조합형 주소 변수

                        // 사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                        if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                            fullAddr = data.roadAddress;

                        } else { // 사용자가 지번 주소를 선택했을 경우(J)
                            fullAddr = data.jibunAddress;
                        }

                        // 사용자가 선택한 주소가 도로명 타입일때 조합한다.
                        if(data.userSelectedType === 'R'){
                            //법정동명이 있을 경우 추가한다.
                            if(data.bname !== ''){
                                extraAddr += data.bname;
                            }
                            // 건물명이 있을 경우 추가한다.
                            if(data.buildingName !== ''){
                                extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                            }
                            // 조합형주소의 유무에 따라 양쪽에 괄호를 추가하여 최종 주소를 만든다.
                            fullAddr += (extraAddr !== '' ? ' ('+ extraAddr +')' : '');
                        }

                        // 우편번호와 주소 정보를 해당 필드에 넣는다.
                        $('input[name=zip_cd]').val(data.zonecode);
                        $('input[name=addr]').val(fullAddr);
                        
                        // 커서를 상세주소 필드로 이동한다.
                        $('input[name=addr2]').focus();
                    }
                }).open();
            }); 
        });
        /*
        function setDaumPostcode() {
            new daum.Postcode({
                oncomplete: function(data) {
                    // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                    // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                    // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                    var fullAddr = ''; // 최종 주소 변수
                    var extraAddr = ''; // 조합형 주소 변수

                    // 사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                    if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                        fullAddr = data.roadAddress;

                    } else { // 사용자가 지번 주소를 선택했을 경우(J)
                        fullAddr = data.jibunAddress;
                    }

                    // 사용자가 선택한 주소가 도로명 타입일때 조합한다.
                    if(data.userSelectedType === 'R'){
                        //법정동명이 있을 경우 추가한다.
                        if(data.bname !== ''){
                            extraAddr += data.bname;
                        }
                        // 건물명이 있을 경우 추가한다.
                        if(data.buildingName !== ''){
                            extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                        }
                        // 조합형주소의 유무에 따라 양쪽에 괄호를 추가하여 최종 주소를 만든다.
                        fullAddr += (extraAddr !== '' ? ' ('+ extraAddr +')' : '');
                    }

                    // 우편번호와 주소 정보를 해당 필드에 넣는다.
                    $('input[name=zip_cd]').val(data.zonecode);
                    $('input[name=addr]').val(fullAddr);
                    
                    // 커서를 상세주소 필드로 이동한다.
                    $('input[name=addr2]').focus();
                }
            }).open();
        }*/
block content
    .content
            .container
                .row(style='margin-top:20px')
                    .col-xs-12.col-sm-10.col-md-8
                        h3.masthead-brand 회사정보관리
                        hr.colorgraph
                form.form.col-md-12.center-block(name='form' action='/company/new' method='post')        
                    .row(style='margin-top:-15px')
                        .col-xs-1.col-sm-1.col-md-1.col-sm-offset-7.col-md-offset-7
                            .form-group
                                    button.btn.btn-success.btn-sm.btn-block(type='submit') 저장
                    .row(style='margin-left:30px')
                        .col-xs-3.col-sm-3.col-md-3
                            .form-group
                                input.form-control.input-sm(type='text', name='company[com_cd]', placeholder='회사코드')
                    .row(style='margin-left:30px')
                        .col-xs-3.col-sm-3.col-md-3
                            .form-group
                                input.form-control.input-sm(type='text', name='company[com_nm]', placeholder='회사명')
                    .row(style='margin-left:30px')
                        .col-xs-3.col-sm-3.col-md-3
                            .form-group
                                input.form-control.input-sm(type='text', name='company[type]', placeholder='업태')
                    .row(style='margin-left:30px')
                        .col-xs-3.col-sm-3.col-md-3
                            .form-group
                                input.form-control.input-sm(type='text', name='company[ceo_nm]', placeholder='대표이사명')
                    .row(style='margin-left:30px')
                        .col-xs-3.col-sm-3.col-md-3
                            .form-group
                                input.form-control.input-sm(type='text', name='company[telno]', placeholder='전화번호')
                    .row(style='margin-left:30px')
                        .col-xs-3.col-sm-3.col-md-3
                            .form-group
                                input.form-control.input-sm(type='text', name='company[faxno]', placeholder='팩스번호')
                    .row(style='margin-left:30px')
                        .col-xs-3.col-sm-3.col-md-3
                            .form-group
                                input.form-control.input-sm(type='text', name='zip_cd', placeholder='우편번호')
                    .row(style='margin-left:30px')
                        .col-xs-6.col-sm-6.col-md-6
                            .form-group
                                input.form-control.input-sm(type='text', name='addr', placeholder='회사주소1' readonly)
                                span.btn.btn-sm.btn-primary(style='margin-top:10px', id='postcode' onclick='setDaumPostcode()') 우편번호 찾기
                    .row(style='margin-left:30px')
                        .col-xs-6.col-sm-6.col-md-6
                            .form-group
                                input.form-control.input-sm(type='text', name='addr2', placeholder='회사주소2')
                    .row(style='margin-left:30px')
                        .col-xs-6.col-sm-6.col-md-6
                            .form-group
                                input.form-control.input-sm(type='text', name='company[bigo]', placeholder='비고')
                    
                    