doctype html
html
    head
        title #{title}

        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet', href='/vendor/bootstrap-3.3.7/css/bootstrap.min.css')
        link(rel='stylesheet', href='/vendor/bootstrap-3.3.7/css/bootstrap-theme.min.css')
        script(src='/vendor/bootstrap-3.3.7/js/bootstrap.min.js')
        script(src='/vendor/jquery/jquery.js')
        style.
            * { font-family: 'Malgun Gothic'; }
        style.
                html,
                body {
                    width: 100%;
                    height: 100%;
                    margin: 0;
                    font-family: 'sans-serif';
                    color: white;
                    line-height: 1.3em;
                }
                .video-wrapper {
                    position: fixed;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    overflow: hidden;
                    z-index:-1;
                }
                .video-wrapper video {
                    position: fixed;
                    top: 0;
                    right: 0;
                    min-width: 100%;
                    min-height: 100%;
                    width: auto;
                    height: auto;
                }
                .content {
                    position: relative;
                    margin: 60px auto;
                    width: 80%;
                    max-width: 640px;
                    z-index: 1;
                }
                .colorgraph {
                    height: 5px;
                    border-top: 0;
                    background: #c4e17f;
                    border-radius: 5px;

                    background-image: linear-gradient(to right, #008FD4, #008FD4 70%, #A7A9AC 70%, #A7A9AC 80%, #99CA3C 80%, #99CA3C );
                    //- 크롬,사파리
                    background-image: -webkit-linear-gradient(left, #008FD4, #008FD4 70%, #A7A9AC 70%, #A7A9AC 80%, #99CA3C 80%, #99CA3C );
                    //- 파아이폭스
                    background-image: -moz-linear-gradient(left, #008FD4, #008FD4 70%, #A7A9AC 70%, #A7A9AC 80%, #99CA3C 80%, #99CA3C );
                    //- 오페라
                    background-image: -o-linear-gradient(left, #008FD4, #008FD4 70%, #A7A9AC 70%, #A7A9AC 80%, #99CA3C 80%, #99CA3C );
                }
      
        script(type='text/javascript').
            $(function(){
                $('.button-checkbox').each(function(){
                    var $widget = $(this),
                        $button = $widget.find('button'),
                        $checkbox = $widget.find('input:checkbox'),
                        color = $button.data('color'),
                        settings = {
                                on: {
                                    icon: 'glyphicon glyphicon-check'
                                },
                                off: {
                                    icon: 'glyphicon glyphicon-unchecked'
                                }
                        };

                    $button.on('click', function () {
                        $checkbox.prop('checked', !$checkbox.is(':checked'));
                        $checkbox.triggerHandler('change');
                        updateDisplay();
                    });

                    $checkbox.on('change', function () {
                        updateDisplay();
                    });

                    function updateDisplay() {
                        var isChecked = $checkbox.is(':checked');
                        // Set the button's state
                        $button.data('state', (isChecked) ? "on" : "off");

                        // Set the button's icon
                        $button.find('.state-icon')
                            .removeClass()
                            .addClass('state-icon ' + settings[$button.data('state')].icon);

                        // Update the button's color
                        if (isChecked) {
                            $button
                                .removeClass('btn-default')
                                .addClass('btn-' + color + ' active');
                        }else{
                            $button
                                .removeClass('btn-' + color + ' active')
                                .addClass('btn-default');
                        }
                    }
                    function init() {
                        updateDisplay();
                        // Inject the icon if applicable
                        if ($button.find('.state-icon').length == 0) {
                            $button.prepend('<i class="state-icon ' + settings[$button.data('state')].icon + '"></i>');
                        }
                    }
                    init();
                });
            });     
    body
        //-  #video-wrapper.video-wrapper
        //-      video#bgvid(autoplay='', loop='')
        //-          source(src='/m-bg.mp4', type='video/webm')
        //-          source(src='/m-bg.mp4', type='video/mp4')
                
        .content
            .container                      
                .row(style='margin-top:20px')
                    .col-xs-12.col-sm-8.col-md-6.col-sm-offset-2.col-md-offset-3
                        form#loginForm(action='/index' method='post' name='login')
                            fieldset
                                h2 로그인하세요.
                                hr.colorgraph
                                .form-group
                                    input#email.form-control.input-lg(type='email', name='email', placeholder='Email Address')
                                .form-group
                                    input#password.form-control.input-lg(type='password', name='password', placeholder='Password')
                                span.button-checkbox
                                    button.btn(type='button', data-color='info') 아이디 저장
                                    input#remember_me.hidden(type='checkbox', name='remember_me', checked='checked')
                                    a.btn.btn-link.pull-right(href='') 비밀번호 찾기테스트
                                hr.colorgraph
                                .row
                                    .col-xs-6.col-sm-6.col-md-6
                                        input.btn.btn-lg.btn-success.btn-block(type='submit', value='로그인')
                                    .col-xs-6.col-sm-6.col-md-6
                                        a.btn.btn-lg.btn-primary.btn-block(href='') 계정신청

