doctype html
html
    head
        title #{title}
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name='description', content='')
        meta(name='author', content='')
        link(href='/vendor/bootstrap-3.3.7/css/bootstrap.min.css', rel='stylesheet')
        link(href='/vendor/bootstrap-3.3.7/css/bootstrap-theme.min.css', rel='stylesheet')
        link(type='text/css', href='/vendor/font-awesome/css/font-awesome.min.css', rel='stylesheet')        
        link(href='/layouts/sb-admin-2.css', rel='stylesheet')
        link(href='/vendor/metisMenu/metisMenu.min.css', rel='stylesheet')
        link(href='/vendor/morrisjs/morris.css', rel='stylesheet')
        link(href='/isu/css/isu.css', rel='stylesheet')
        script(src='/vendor/jquery/jquery.min.js')
        script(src='/vendor/bootstrap-3.3.7/js/bootstrap.min.js')  
        script(src='/layouts/sb-admin-2.js')
        script(src='/vendor/raphael/raphael.min.js')
        script(src='/vendor/metisMenu/metisMenu.min.js')
        script(src='/vendor/morrisjs/morris.min.js')
        script(src='http://dmaps.daum.net/map_js_init/postcode.v2.js')

        //추후 삭제(도표 표시용)
        script(src='/data/morris-data.js')
        script(src='/data/flot-data.js')
        script(src='/isu/js/postcode.js')
        
        script(src='/util/download.js')

        block head
        
    body
        - if(true){ //모든사용자
        .navbar.navbar-default.navbar-top
            .container
                .navbar-header
                    a.navbar-brand(href='/')
                        //img.navbar-logo(src='/isu/images/logonew.gif', alt='Logo')
                        // img(src='/isu/images/logonew.gif', alt='Logo')
                        span.navbar-brand-label
                    button.navbar-toggle.collapsed(data-toggle='collapse', data-target='.my-navbar-collapse')
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                .navbar-collapse.my-navbar-collapse.collapse
                    ul.nav.navbar-nav
                        li
                            a(href='/index') Home
                        li
                            a(href='/question/new') 문의하기
                        li
                            a(href='/question/') 처리진행현황
                        li
                            a(href='/account/') 자주묻는질문과답
                    ul.nav.navbar-nav.navbar-right
                        li
                            a(href='#')
                                | #{session.userNm} 님
                        li
                            a(href='/logout')
                                i.fa.fa-user
                                |  로그아웃
        - }
        
        .page
            .container
                p
                    | #{session.userFlag}
                    | #{session.groupFlag}
                - if(session.groupFlag =="in" && session.userFlag != null){
                #wrapper
                    .sidebar.visible-lg(role='navigation', style='margin-top: 0')
                        .sidebar-nav.navbar-collapse
                            ul#side-menu.nav
                                li
                                    a(href='/index')
                                        i.fa.fa-desktop.fa-fw
                                        |  HOME   
                                li.active
                                    a(href='#')
                                        i.fa.fa-th-list.fa-fw
                                        |  문의방법 및 담당자
                                        span.fa.arrow
                                    ul.nav.nav-second-level
                                        li
                                            a(href='/incident/new/문의하기') 문의하기
                                        li
                                            a(href='/incident') 처리진행현황
                                        li
                                            a(href='#') 자주묻는질문과답
                                        li
                                            a(href='/search/viewall') 처리된내용검색

                                //그룹관리자, 업무관리자,업무담당자 오픈
                                - if(session.userFlag ==1 || session.userFlag ==3 || session.userFlag ==4){    
                                li.active
                                    a(href='#')
                                        i.fa.fa-th-list.fa-fw
                                        |  SD 담당자
                                        span.fa.arrow
                                    ul.nav.nav-second-level
                                        li
                                            a(href='#') 상담접수(전화)
                                        li
                                            a(href='#') 나의업무처리현황
                                        li
                                            a(href='#') 나의업무지정
                                        li
                                            a(href='#') 월별처리내역
                                - }
                                - if(session.userFlag !=9){
                                li
                                    a(href='#')
                                        i.fa.fa-th-list.fa-fw
                                        |  SD 검색/통계
                                        span.fa.arrow
                                    ul.nav.nav-second-level
                                        li
                                            a(href='#') 전체내용검색
                                        li
                                            a(href='#') 회사별 상위업무통계
                                        li
                                            a(href='#') 상위별 하위업무통계
                                        li
                                            a(href='#') 미해결 현황
                                        li
                                            a(href='#') 담당자별월별처리내역
                                        li
                                            a(href='#') 처리구분별처리내역
                                - }
                                - if(session.userFlag ==1 || session.userFlag ==4){
                                li
                                    a(href='#')
                                        i.fa.fa-th-list.fa-fw
                                        |  SD 기본정보
                                        span.fa.arrow
                                    ul.nav.nav-second-level
                                        li
                                            a(href='/higherProcess/list') 상위업무조회
                                        li
                                            a(href='#') 하위업무조회
                                        li
                                            a(href='/company/list') 회사정보관리(외부)
                                        li
                                            a(href='/usermanage/') 사원정보관리(내외)
                                        li
                                            a(href='#') 회사별상위업무지정
                                        li
                                            a(href='#') 처리구분코드조회
                                        li
                                            a(href='#') 업무별담당자현황
                                        li
                                            a(href='#') 자주묻는질문과답
                                - }
                                - if(session.userFlag ==1){            
                                li
                                    a(href='#')
                                        i.fa.fa-th-list.fa-fw
                                        |  SD Dashboard
                                        span.fa.arrow 
                                -}
                - }       
                    #page-wrapper
                            block content
        block feet